# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.log

# Data (CRITICAL: Do not push the 5GB dataset)
model_training/data/
data/
*.pth
*.h5
*.onnx

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
node_modules/
.next/
out/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
